@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-card: #16191E;
  --color-google: #EAEAE5;
  --color-main: #0D0F12;
  --color-primary: #F0F3F9;
  --color-accent: #4F46E5;
  --color-input-authorize: #1E222A;
  --color-input-search: #5B5B5B;
  --color-chat-none: #474545;
  --color-chat-list: #272727;
  --color-chatbox-hover: #4C4C4C;
  --color-userprofile-button: #272727;
}

@theme {
  --animate-bubble-appear: bubbleAppear 0.15s ease-out ;

  @keyframes bubbleAppear {
    0% {
      opacity: 0;
      transform: translateY(8px) scale(0.96);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #525252 #171717;
}

/* Для Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252;
}